# System and IDE files
Thumbs.db
.DS_Store
.idea
*.suo
*.sublime-project
*.sublime-workspace

# Vendors
node_modules/

# Build
/npm-debug.log
/dist/
/editor
.parcel-cache
# public/

build/
assets/
.safex
parcel-bundle-reports
